<!-- templates/profile.html -->
{% extends "base.html" %}

{% block content %}
<div class="profile-container">
    <h2>Profile</h2>
    <p>Username: {{ user.username }}</p>

    <button onclick="window.location.href='{{ url_for('chat') }}'">Global Chat</button><br />
    <button onclick="window.location.href='{{ url_for('chat_with_user', username=user.username) }}'">Chat with
        User</button><br />
    <button onclick="window.location.href='{{ url_for('view_messages') }}'">View Messages</button><br />
    <button onclick="window.location.href='{{ url_for('logout') }}'">Logout</button><br />
</div>
{% endblock %}