/* static/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34; /* Darker background */
    color: #abb2bf; /* Light text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #383d44; /* Darker nav background */
    color: #abb2bf; /* Light text */
    padding: 15px;
    text-align: center;
    width: 100%;
}

nav a {
    color: #abb2bf; /* Light text */
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #61afef; /* Blue text on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    background-color: #282c34; /* Darker container background */
}

.login-container, .register-container, .profile-container, .chat-container {
    background-color: #282c34; /* Darker container background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #3a3a3a; /* Darker input background */
    color: #abb2bf; /* Light text */
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    background-color: #61afef; /* Blue submit button */
    color: #abb2bf; /* Light text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #51a8fa; /* Darker blue on hover */
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #4a4a4a;
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #383d44, #282c34);
    color: #abb2bf; /* Light text */
    border-radius: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .login-container, .register-container, .profile-container, .chat-container {
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"] {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 40px;
    }

    .login-container, .register-container, .profile-container, .chat-container {
        width: 80%;
        margin-bottom: 20px;
    }
}

:root {
    --primary-color: #61afef;
}